@model TodoList.ViewModels.TeamUsersViewModel
@{ 
    ViewBag.Title = "AddMembers"; 
}

<h2>Add Members to Team</h2>

@using (Html.BeginForm("AddMembers", "Teams", FormMethod.Post))
{

    <div class="form-group">
        Username:
        @Html.HiddenFor(m => m.TeamId)
        @Html.DropDownListFor(m => m.UserId,
            new SelectList(Model.Users, "Id", "Username"),
            new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Add Member</button>
    </div>
}