@model IEnumerable<TodoList.Models.Team>
@{
    ViewBag.Title = "Mine";
}

<h2>My Teams</h2>
<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">My Teams</li>
            @foreach (var team in Model)
            {
                <li class="list-group-item">@team.Name</li>
            }
        </ul>
    </div>
</div>
