
@{
    ViewBag.Title = "Index";
}

<h2>My User Information</h2>

<div class="panel panel-info">
    <div class="panel-body">
        <p>Full Name: @Model.FullName</p>
        <p>Age: @Model.Age</p>
    </div>
</div>
